{% extends 'security_website/base.html' %}  
{% load static %}     

{% block body %}


    <div class="site-blocks-cover overlay" style="background-image: url({% static 'images/hero_3.jpg' %});" data-aos="fade" id="home-section">


      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6 mt-lg-5 text-center">
            <h1>We Attack, We Report</h1>
             <p class="post-meta"> Detecting  vulnerabilities  before  they  become  a  problem  is  as  important  as,  solving Problems, instead  of  being  afraid  of  them.</p>
            
          </div>
        </div>
      </div>

      <a href="#howitworks-section" class="smoothscroll arrow-down"><span class="icon-arrow_downward"></span></a>
    </div>  

    
    <div class="py-5 bg-light site-section how-it-works" id="howitworks-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-3">Who are we</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 text-center">
            <div class="pr-5">
              <span class="custom-icon flaticon-customer-service text-primary"></span>
              <h3 class="text-dark justify-content-center">Customer Requirement</h3>
              <p>hbhbbbhbh bhbhbhbh bhbhbhbhbhbh bbhbhbhbhb bhbhbhbhbh</p>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="pr-5">
              <span class="custom-icon flaticon-search text-primary"></span>
              <h3 class="text-dark justify-content-center">Data Gathering</h3>
              <p>hbhb hbh bhb h bb hb b hb hb h b bh bh bh b hb hb</p>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="pr-5">
              <span class="custom-icon flaticon-coding text-primary"></span>
              <h3 class="text-dark justify-content-center">Data Secure</h3>
              <p>bhbnxkdcm dc dkjndn dcdncdjcnd,m cds cdcidc djkcb </p>
            </div>
          </div>
        </div>
      </div>  
    </div>


    <section class="site-section border-bottom bg-dark" id="services-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Services</h2>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-md-4 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-flex">
            <!--   <div class="unit-4-icon mr-4"><span class="text-primary flaticon-house"></span></div>
             -->  <div>
                <h3  class="text-primary text-center">Continuous Monitoring and Response</h3>
                <p class="text-light text-center">Protect your business pro-actively and be prepared for any eventuality.</p>
                <span><img src="{% static 'images/service_1.png' %}" alt="Image" class="img-fluid"></span>
             <!--    <p class="text-dark text-center"><a href="#">Learn More</a></p> -->
              </div>
            </div>
          </div>
          
          <div class="col-md-4 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-flex">
            <!--   <div class="unit-4-icon mr-4"><span class="text-primary flaticon-house"></span></div>
             -->  <div>
                <h3  class="text-primary text-center">Continuous Monitoring and Response</h3>
                <p class="text-light text-center">Protect your business pro-actively and be prepared for any eventuality.</p>
                <span><img src="{% static 'images/service_2.png' %}" alt="Image" class="img-fluid"></span>
               <!--  <p class="text-dark text-center"><a href="#">Learn More</a></p> -->
              </div>
            </div>
          </div>    
          
          <div class="col-md-4 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-flex">
            <!--   <div class="unit-4-icon mr-4"><span class="text-primary flaticon-house"></span></div>
             -->  <div>
                <h3  class="text-primary   text-center">Continuous Monitoring andResponse</h3>
                <p class="text-light text-center">Protect your business pro-actively and be prepared for any eventuality.</p>
                <span><img src="{% static 'images/service_3.png' %}" alt="Image" class="img-fluid"></span>
               <!--  <p class="text-dark text-center"><a href="#">Learn More</a></p> -->
              </div>
            </div>
          </div>

      </div>
    
      </div>
    </section>
    
    <section class="site-section " id="about-section">
      <div class="container">
       <div class="row mb-5">
          <div class="col-12 text-center">
            <!-- <h3 class="section-sub-title">Get</h3> -->
            <h2 class="section-title mb-3">About Us</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6">

            <div class="owl-carousel slide-one-item-alt">
              <img src="{% static 'images/about_1.jpg' %}" alt="Image" class="img-fluid">
              <img src="{% static 'images/about_2.jpg' %}" alt="Image" class="img-fluid">
              <img src="{% static 'images/about_3.jpg' %}" alt="Image" class="img-fluid">
              <img src="{% static 'images/about_4.jpg' %}" alt="Image" class="img-fluid">
            </div>
         <!--    <div class="custom-direction">
              <a href="#" class="custom-prev">Prev</a><a href="#" class="custom-next">Next</a>
            </div> -->

          </div>
          <div class="col-lg-5 ml-auto">
            
            <h2 class="section-title mb-3">We Are The Best Security Company</h2>
                <p class="lead">some bs about our company </p>

                <ul class="list-unstyled ul-check success">
                  <li>plus</li>
                  <li>points </li>
                  <li>of bieng</li>
                  <li>our</li>
                  <li>dog</li>
                </ul>

                <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
            
          </div>
        </div>
      </div>
    </section>

    <div class="site-section bg-light" id="quotation-section">
      <div class="container">
              <div class="row mb-5">
          <div class="col-12 text-center">
            <!-- <h3 class="section-sub-title">Get</h3> -->
            <h2 class="section-title mb-3">Get Quoatation</h2>
          </div>
        </div>

        <div class="mb-5">

          <div class="property">
          <!--   <a href="property-single.html">
              <img src="images/property_1.jpg" alt="Image" class="img-fluid">
            </a> -->
            <div class="text-center">
              <div><strong class="text-primary">Get a custom quote</strong></div>
                  <!--   <div>Are you Ready!</div> -->
              <div>Contact us for a custom quote, we are learning abc def , thanks beetch</div>
              <div>40 din ap ko jammat mein ly jana hai :( </div>              
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <a href="quotation.html" class="btn btn-primary btn-block">Get Quote</a>
          </div>
        </div>
      </div>
    </div>    

  <section class="site-section testimonial-wrap bg-dark" id="testimonials-section">    
    <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">People Says...</h2>
          </div>
        </div>
        <div class="slide-one-item home-slider owl-carousel">
          
          <div class="testimonial">
              
              <blockquote class="mb-5">
                <p>&ldquo;Are hackers a threat? The degree of threat presented by any conduct, whether legal or illegal, depends on the actions and intent of the individual and the harm they cause.&rdquo;</p>
              </blockquote>

              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <p>-Kevin Mitnick</p>
              </figure>
          </div>
        
          <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;The hackers don't want to destroy the network. They want to keep it running, so they can keep making money from it.&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
               <!--  <div><img src="images/person_2.jpg" alt="Image" class="w-50 img-fluid mb-3"></div> -->
                 <p>-Vinton Cerf</p>
              </figure>
              
          </div>
          
 
          <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;A hacker does for love what others would not do for money.&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
               <!--  <div><img src="images/person_4.jpg" alt="Image" class="w-50 img-fluid mb-3"></div> -->
                <p>Laura Creighton</p>
              </figure>

              
          </div>
         
          <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;In the hacking world, security is more of a response than a proactive measure. They wait for hackers to attack and then they patch, based on the attacks.&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
               <!--  <div><img src="images/person_4.jpg" alt="Image" class="w-50 img-fluid mb-3"></div> -->
                <p>Michael Demon Calce</p>
              </figure>

          </div>
          

        </div>
      </div>
</section>


    <section class="site-section bg-light bg-image" id="contact-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <!-- <h3 class="section-sub-title">Get</h3> -->
            <h2 class="section-title mb-3">Contct Us</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 mb-5">

            

            <form action="#" class="p-5 bg-white">
              
              <h2 class="h4 text-black mb-5">Contact Form</h2> 

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Subject</label> 
                  <input type="subject" id="subject" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
                </div>
              </div>

  
            </form>
          </div>
          <div class="col-md-5">
            
            <div class="p-4 mb-3 bg-white">
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">Lahore, Pakistan</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+12345678</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#">email@domain.com</a></p>

            </div>
            
          </div>
        </div>
      </div>
    </section>

{% endblock %}
 
    
  
 