{% extends 'security_website/base.html' %}  
{% load static %}     

<style type="text/css">
	
</style>

{% block body %}
    
    <div class="site-blocks-cover overlay" style="background-image: url({% static 'images/hero_3.jpg' %});" data-aos="fade" id="home-section">



		  <section id="services" class="site-services section-bg" >
		      <div class="container" data-aos="fade-up">

		      <div class="container" >
		       <div class="d-flex justify-content-between" style="padding-top: 10em;">
		        <div class="row ">

				          <div class="col-lg-6 col-md-6 d-flex align-items-stretch  mt-md-0" data-aos="zoom-in" data-aos-delay="100">
				            <div class="icon-box iconbox-blue">
				              <div class="icon">
				             
				                <img class="img" width="100" height="100"  src="{% static 'images/red.png' %}" > </img>
				          
				              </div>
				              <h4><a href="/redteam/">Red Team Penetration Testing</a></h4>
				              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
				            </div>
				          </div>

						   <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
				            <div class="icon-box iconbox-pink">
				              <div class="icon">
				                <img class="icon" width="100" height="80"  src="{% static 'images/cloud.png' %}" > </img>
				                <i class="bx bx-tachometer"></i>
				              </div>
				              <h4><a href="/cloud_security/">Cloud Security</a></h4>
				              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
				            </div>
				          </div>



				          <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
				            <div class="icon-box iconbox-orange ">
				              <div class="icon">
				                 <img class="img"  width="100" height="100"  src="{% static 'images/va.png' %}" > </img>
				                <i class="bx bx-file"></i>
				              </div>
				              <h4><a href="/vulnerability_assessment/">Vulnerability Assessment</a></h4>
				              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
				            </div>
				          </div>

				       

				          <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4  mt-md-0" data-aos="zoom-in" data-aos-delay="100">
				            <div class="icon-box iconbox-yellow">
				              <div class="icon">
				              <img class="img"  width="105" height="80"  src="{% static 'images/code.png' %}" > </img>
				                <i class="bx bx-layer"></i>
				              </div>
				              <h4><a href="/source_code_analysis/">Source Code Analysis</a></h4>
				              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
				            </div>
				          </div>

				          
      
		        </div>

		      </div>
		  	 </div>
		  	</div>
		  </section>


     </div>
    {% endblock %}




      
    
    